<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Blogpost 1</h2>
                <hr class="light">
                <p class="text-faded">Sul modena nerd, games week eccetera.
                    ogni altro dettaglio è omesso. Il feedback in generale è stato positivo e ...</p>
                <a href="#" class="btn btn-default btn-xl">Altri post</a>
            </div>
        </div>
    </div>
</section>
