<header>
    <div id="owl-example" class="owl-carousel header-content">
        <div class="header-content-inner">
            <h2>MODENA NERD</h2>
            <h3>An epic experience</h3>            
            by federico tenti<br><br>
            <a href="blog.html" class="btn btn-primary btn-xl page-scroll">di più</a>
        </div>
        <div class="header-content-inner">            
         <h2>Bases of Unreal</h2>
            <h3>Learn how to create a videogame</h3>            
            by chacklackis<br><br>
            <a href="blog.html" class="btn btn-primary btn-xl page-scroll">di più</a>
         </div>
        <div class="header-content-inner">         
         <h2>New Artworks</h2>
            <h3>Inspiring concept art</h3>
              by alessandra<br><br>
         <a href="blog.html" class="btn btn-primary btn-xl page-scroll">di più</a></div>
    </div>

</header>
