  <body class="P_prodotti">
      <div class="container text-center">
          <div class="call-to-action" >
			<ul>
			  {% for post in site.posts %}
			    <li>
			      <a href="{{ post.url }}">{{ post.title }}</a>
			            {{ post.excerpt }}<br><br>
			    </li>
			  {% endfor %}
			</ul>

          </div>
      </div>
  </body>
