  <body class="P_prodotti">
      <div class="container text-center">
          <div class="call-to-action" >
              <h2>About us</h2>


				
				Studio Lude was born in September 2015 as a groups for study and research in multimedia and digital arts. The groups is made up of former students of various academies in Milan, united by passion for videogames and the will to create quality products.<br>
				Studio Lude's debut is at the "Game Over 2015" festival in Milan with an early demo of <i>Rainbow Force: Battle Academy</i>.<br><br><br>

              <h2>The team</h2>

				Alessandra Gioachini    -     	Concept Artist<br>
				Alessandro Chachlakis    -     	Art Director<br>
				Claudio Freda    -     	Programmer<br>
				Curzio Ferrara    -     	Modeller<br>
				Daniele Gamba    -     	Shader Specialist<br>
				Debora Cavallari    -     	3D Animator<br>
				Federico Tenti    -     	Designer<br>
				Filippo Magrini    -     	Post-Production<br>
				Marius Arcioni    -     	Sound Designer - Composer<br>
				Serena Fiammenghi    -     	Shader Specialist<br>
				Valeria Cosenza    -     	Modeller<br>
				<br><br>
			<h2>Get In Touch</h2>

				If you need info or just want to say hello, feel free to contact us at <i>info@studiolude.com</i>.<br>
				Like us on Facebook to keep up-to-date with us, on <a href="fb.com/studiolude">fb.com/studiolude</a>!<br><br><br>

          </div>
      </div>
  </body>
