<body class ="P_prodotti"> 
      <div class="container text-center">
          <div class="call-to-action" >
              <h2>Rainbow Force: Battle Academy</h2><br>				
				<iframe width="560" height="315" src="https://www.youtube.com/embed/-bV6qJWt_Wc" frameborder="0" allowfullscreen></iframe><br><br>

				<h1>The "Rainbow Force" Academy is training the superheroes of tomorrow. But not every member is a nerd: the majority of them prefers instead spending their time playing ... war.<br><br>

				<i>Rainbow Force: Battle Academy</i> is a brawler in local multiplayer, where each player (with a maximum of 4) controls a schoolgirl and takes advantage of her school equipment, such as sonic saber, enormous rucksack-shaped hammers, or bazooka-basebat, to eliminate as many opponents as possible.</h1><br><br><br>




          </div>
      </div>
</body>