<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#owl-example").owlCarousel({
	  		paginationSpeed: 500,      
	    	singleItem: true,
	    	autoPlay: 3000,
	    });
    });
</script>