  <aside class="loghino" id="contatti">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Studio Lude</h2><br><br>
              <a href="contatti.html" class="btn btn-default btn-xl wow tada">get in touch</a>
          </div>
      </div>
  </aside>
