<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav_front.html %}

  {% include header.html %}
  {% include prodotti.html %}  

  {% include studio.html %}   
  {% include scripts.html %}
</body>

</html>